<h1>Welcome to app!</h1>

<p>
  <button (click)="changeChild()">Change Child data</button>
  <button (click)="child.name = 'Changed BY PARENT'">
    Change Child via Template Var
  </button>
</p>
<app-info-box
    #child
    [message]="message"
    [name]="name"
    (replyToParent)="processReply($event)"
></app-info-box>
<pre>Message from Child = {{ reply | json }}</pre>



<p>I am "{{ customer.name | uppercase }}, {{ customer.firstname }}"</p>

<span>These are my hobbies: </span>
<span *ngFor="let h of customer?.hobbies">{{ h }} </span>

<p>I am god in math => 1 + 2 = {{ 1 + 2 }}</p>

<button (click)="showDetails = !showDetails">
  {{ showDetails ? 'Hide' : 'Show' }} the secret message
</button>
<span [hidden]="!showDetails">
  My phone number is 123 456 7890
</span>

<br />

<input #phone placeholder="phone number" />
<button
  [class.app-disabled]="!showDetails"
  [disabled]="!showDetails"
  (click)="callMe(phone.value)"
>
  Call me
</button>

<br />
<input placeholder="customer name" [(ngModel)]="customer.name" />

<h5>DEBUG</h5>
<pre>user = <br/>{{ customer | json }}</pre>
